.header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1600px;
  height: 130px;

  font-size: 16px;
  font-weight: 700;
}

.items {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item {
  margin-right: 40px;
}

.item:first-child {
  margin-left: 102px;
}

.item:last-child {
  margin-right: 66px;
}

.itemLink,
.phoneNumber,
.email {
  color: #222;
  text-decoration: none;
}

.email {
  font-weight: normal;
}

.itemLink:hover,
.phoneNumber:hover,
.email:hover {
  color: #e64592;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.startProject {
  user-select: none;

  width: 150px;
  height: 48px;
  margin-left: 28px;
  border: none;
  border-radius: 36px;

  font-family: Circe, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #fff;

  background-color: #e64592;
  box-shadow: 0 4px 4px rgb(227 104 163 / 20%);
}

.labelAnchor {
  position: relative;
}

.itemLabel {
  position: absolute;
  right: -15px;
  bottom: 12px;
}

@media (width <= 1600px) {
  .header {
    width: 1380px;
  }
}

@media (width <= 1400px) {
  .header {
    width: 1180px;
    font-size: 15px;
  }

  .item {
    margin-right: 26px;
  }

  .item:first-child {
    margin-left: 52px;
  }

  .item:last-child {
    margin-right: 48px;
  }
}

@media (width <= 1200px) {
  .header {
    width: 1000px;
    font-size: 14px;
  }

  .home {
    width: 150px;
  }

  .item {
    margin-right: 20px;
  }

  .item:first-child {
    margin-left: 34px;
  }

  .item:last-child {
    margin-right: 30px;
  }

  .startProject {
    width: 130px;
    height: 42px;
    margin-left: 18px;
    font-size: 14px;
  }

  .itemLabel {
    right: -10px;
    width: 36px;
  }
}

@media (width <= 1023px) {
  .header {
    flex-wrap: wrap;
    justify-content: flex-end;

    width: 740px;
    height: 88px;
    padding: 30px 0 26px;
  }

  .home {
    width: 100px;
  }

  .item {
    margin-right: 16px;
  }

  .item:first-child {
    margin-left: 16px;
  }

  .item:last-child {
    margin-right: 16px;
  }

  .phoneNumber,
  .email {
    font-size: 13px;
  }

  .startProject {
    width: 114px;
    height: 38px;
    margin-left: 0;
    font-size: 13px;
  }

  .itemLabel {
    right: -6px;
    bottom: 12px;
    width: 32px;
  }
}
