.peopleTrust {
  display: grid;
  grid-template: "header images" 60px "text images" 172px "button images" 1fr / 1fr 1fr;
  width: 1200px;
}

.header {
  grid-area: header;

  margin: 0;

  font-size: 60px;
  font-weight: 800;
  line-height: 56px;
  color: #191919;
}

.description {
  grid-area: text;

  width: 380px;

  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
  color: #222;
}

.button {
  cursor: pointer;
  user-select: none;

  grid-area: button;

  width: 230px;
  height: 66px;
  border: none;
  border-radius: 36px;

  font-family: Circe, sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #fff;

  background-color: #e64592;
  box-shadow: 0 4px 4px rgb(227 104 163 / 20%);

  transition: all 0.2s ease-in-out;
}

@media (hover: none) {
  .button:active {
    color: #e64592;
    background-color: #fff;
    box-shadow: 0 0 20px rgb(227 104 163 / 30%);
  }
}

@media (hover: hover) {
  .button:hover,
  .button:active {
    color: #e64592;
    background-color: #fff;
    box-shadow: 0 0 20px rgb(227 104 163 / 30%);
  }
}

.companyLogos {
  display: flex;
  grid-area: images;
  flex-wrap: wrap;
  width: 687px;
}

@media (width <= 1400px) {
  .peopleTrust {
    width: 1000px;
  }

  .companyLogos {
    width: 560px;
  }
}

@media (width <= 1200px) {
  .peopleTrust {
    width: 800px;
  }

  .companyLogos {
    width: 450px;
  }

  .header {
    font-size: 58px;
  }
}

@media (width <= 1024px) {
  .peopleTrust {
    grid-template: "header" 72px "text" 100px "images" 1fr "button" 98px / 1fr;
    width: 700px;
  }

  .header {
    font-size: 60px;
  }

  .description {
    width: 500px;
  }

  .companyLogos {
    justify-content: center;
    width: 700px;
  }

  .button {
    margin-top: 30px;
  }
}

@media (width <= 767px) {
  .peopleTrust {
    grid-template-rows: 42px 142px 1fr 88px;
    width: 400px;
  }

  .header {
    font-size: 36px;
  }

  .description {
    width: 300px;
    font-size: 18px;
  }

  .button {
    width: 200px;
    height: 58px;
    font-size: 16px;
  }

  .companyLogos {
    width: 400px;
  }
}

@media (width <= 426px) {
  .peopleTrust {
    width: 300px;
  }

  .companyLogos {
    width: 300px;
  }
}
