.footer {
  width: 100%;
}

.logo {
  display: flex;
  align-items: flex-end;
  height: 114px;
  border-bottom: 1px solid #d0d0d0;
}

.imageWrap {
  width: 123px;
  margin: 24px auto;
}

.items,
.subMenu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.trigger {
  outline: 0;
}

.trigger::marker {
  content: "";
}

.trigger::-webkit-details-marker {
  display: none;
}

.triggerWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 62px;
  border-bottom: 1px solid #d0d0d0;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #222;

  outline: none;
}

.arrowWrap {
  margin: 0 10px;
}

.subMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #d0d0d0;
}

.subMenuItem {
  width: 210px;
  margin-bottom: 20px;
  font-weight: 300;
  text-align: center;
}

.subMenuItem:first-child {
  margin-top: 20px;
}

.itemLink,
.contact {
  color: #222;
  text-decoration: none;
}

.invite {
  margin: 0 0 8px;
}

.contact {
  font-weight: 700;
}

.socialNetworks {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 78px;
}

.socialLink + .socialLink {
  margin-left: 18px;
}

.divider {
  height: 2px;
  border-radius: 20px;
  background: linear-gradient(79.63deg, #d4358f 1.08%, #51a3d6 100%);
}

.securityWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 204px;
}

.security {
  margin-bottom: 14px;

  font-weight: 300;
  line-height: 24px;
  color: #222;
  text-decoration: none;
}

.text {
  width: 222px;
  margin: 2px 0 0;

  font-weight: 300;
  line-height: 30px;
  text-align: center;
}
