.proposal {
  display: grid;
  grid-template: "content form" 1fr "image form" 1fr / 1fr 1fr;
  place-items: center center;

  width: 1600px;
  height: 1050px;
  margin: auto;
  border-radius: 20px;

  color: #fff;

  background: linear-gradient(79.63deg, #d4358f 1.08%, #51a3d6 100%);
}

.content {
  grid-area: content;
  place-self: end end;
  width: 596px;
}

.header {
  width: 500px;
  margin: 0 0 26px;

  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
}

.description {
  width: 380px;
  margin: 0;

  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
}

.email {
  color: #fff;
  text-decoration: none;
}

.imageWrap {
  position: relative;
  z-index: 2;
  left: 32px;

  grid-area: image;
  place-self: end end;

  width: min(100%, 656px);
  margin-top: 30px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.form {
  position: relative;
  z-index: 1;
  left: 16px;

  grid-area: form;
  justify-self: start;
}

@media (width <= 1600px) {
  .proposal {
    grid-template-rows: 324px 1fr;
    width: 1380px;
    height: 906px;
  }

  .content {
    width: 560px;
  }

  .imageWrap {
    left: -4px;
    width: min(100%, 578px);
  }

  .form {
    left: -20px;
  }
}

@media (width <= 1400px) {
  .proposal {
    grid-template-rows: 282px 1fr;
    width: 1180px;
    height: 774px;
  }

  .content {
    width: 500px;
  }

  .header {
    margin: 0 0 20px;
  }

  .imageWrap {
    left: -14px;
    width: min(100%, 480px);
  }

  .form {
    left: -30px;
  }
}

@media (width <= 1200px) {
  .proposal {
    grid-template: "content" 282px "form" 1fr "image" 342px / 1fr;
    width: 1000px;
    height: 1174px;
  }

  .content {
    place-self: center center;
    width: 402px;
    margin-top: 76px;
    text-align: center;
  }

  .header {
    width: 402px;
    margin: 0 0 16px;
  }

  .imageWrap {
    top: -1px;
    left: 0;
    justify-self: center;
    width: min(100%, 388px);
  }

  .form {
    left: 0;
    justify-self: center;
    margin-top: 30px;
  }
}

@media (width <= 1024px) {
  .proposal {
    grid-template-rows: 282px 1fr 290px;
    width: 740px;
    height: 1124px;
  }

  .imageWrap {
    top: 0;
    left: 0;
    justify-self: center;
    width: min(100%, 350px);
  }
}

@media (width <= 767px) {
  .proposal {
    grid-template-rows: 190px 540px 229px;
    width: 416px;
    height: 960px;
  }

  .content {
    margin-top: 40px;
  }

  .header {
    width: 300px;
    margin: auto;
    font-size: 36px;
    line-height: 36px;
  }

  .description {
    width: 268px;
    margin: 10px auto 0;
    font-size: 16px;
    line-height: 24px;
  }

  .imageWrap {
    top: 0;
    width: min(100%, 278px);
  }

  .form {
    margin: 0;
  }
}

@media (width <= 426px) {
  .proposal {
    grid-template-rows: 190px 540px 204px;
    width: 350px;
    height: 934px;
  }

  .content {
    width: 350px;
  }

  .imageWrap {
    width: min(100%, 240px);
  }
}

@media (width <= 374px) {
  .proposal {
    grid-template-columns: 300px;
    grid-template-rows: 186px 520px 204px;
    width: 300px;
    height: 910px;
  }

  .content {
    margin: 0;
  }
}
