.review {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 585px;
  height: 220px;
  border-radius: 20px;

  background-color: #fff;
  box-shadow: 0 0 70px rgb(0 0 0 / 5%);
}

.logoWrap {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 160px;
  height: 160px;
}

.name {
  width: 318px;
  margin-left: 40px;

  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #191919;
}

@media (width <= 1600px) {
  .review {
    width: 540px;
  }

  .name {
    width: 264px;
  }
}

@media (width <= 1400px) {
  .review {
    width: 500px;
  }
}

@media (width <= 1200px) {
  .review {
    width: 530px;
    height: 200px;
  }

  .name {
    width: 270px;
  }
}

@media (width <= 767px) {
  .review {
    flex-direction: column;
    justify-content: flex-start;
    width: 260px;
    height: 230px;
  }

  .logoWrap {
    width: 120px;
    height: 100px;
    margin-top: 16px;
  }

  .name {
    width: 210px;
    margin: 5px 0 0;

    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }
}
