.aboutCompany {
  width: 1200px;
}

.header {
  margin: 0 0 50px 0;
  font-weight: 800;
  font-size: 60px;
  line-height: 56px;
  color: #191919;
}

.image {
  width: 980px;
  height: 620px;
  position: absolute;
  left: 224px;
  top: 50px;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 14px;
}

.content {
  position: relative;
}

@media (max-width: 1400px) {
  .aboutCompany {
    width: 1000px;
  }

  .image {
    top: 94px;
    width: 770px;
    height: 530px;
  }
}

@media (max-width: 1200px) {
  .aboutCompany {
    width: 800px;
  }

  .image {
    top: 80px;
    left: 146px;
    width: 654px;
    height: 404px;
  }
}

@media (max-width: 1024px) {
  .aboutCompany {
    width: 700px;
  }

  .image {
    top: 70px;
    left: 128px;
    width: 570px;
    height: 378px;
  }
}

@media (max-width: 767px) {
  .aboutCompany {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
  }

  .header {
    margin: 0 0 24px;
    font-size: 36px;
    line-height: 56px;
  }

  .image {
    position: relative;
    left: 0px;
    top: -96px;
    margin-right: 0px;
    width: 300px;
    height: 480px;
    background-position: right 10% top 10%;
  }
}
