.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 175px;
    width: 1600px;
    height: 680px;
    background: linear-gradient(79.63deg, #d4358f 1.08%, #51a3d6 100%);
    border-radius: 20px;
}

.content {
    margin: 0 30px 0 20px;
}

.header {
    margin: 0;
    width: 660px;
    font-size: 80px;
    font-weight: 800;
    color: #fff;
    line-height: 74px;
}

.text {
    margin: 34px 0 0 0;
    width: 524px;
    font-size: 30px;
    color: #fff;
    line-height: 48px;
}

.imageWrap {
    margin-right: 30px;
}

@media (max-width: 1630px) {
    .banner {
        width: 1400px;
        height: 620px;
    }
}

@media (max-width: 1450px) {
    .banner {
        width: 1240px;
        height: 570px;
    }

    .content {
        margin: 0 24px 0 50px;
    }

    .header {
        width: 610px;
    }

    .imageWrap {
        margin-right: 50px;
        width: 500px;
    }
}

@media (max-width: 1280px) {
    .banner {
        width: 1000px;
        height: 470px;
    }

    .header {
        width: 510px;
        font-size: 66px;
    }

    .text {
        margin: 20px 0 0 0;
        width: 488px;
        font-size: 28px;
    }

    .imageWrap {
        margin-right: 50px;
        width: 350px;
    }
}
