.banner {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1600px;
  height: 680px;
  border-radius: 20px;

  background: linear-gradient(79.63deg, #d4358f 1.08%, #51a3d6 100%);
}

.content {
  margin: 0 30px 0 20px;
}

.header {
  width: 660px;
  margin: 0;

  font-size: 80px;
  font-weight: 800;
  line-height: 74px;
  color: #fff;
}

.text {
  width: 524px;
  margin: 34px 0 0;

  font-size: 30px;
  line-height: 48px;
  color: #fff;
}

.imageWrap {
  margin-right: 30px;
}

@media (width <= 1600px) {
  .banner {
    width: 1380px;
    height: 587px;
  }

  .content {
    margin: 0 0 0 20px;
  }

  .imageWrap {
    width: 500px;
  }
}

@media (width <= 1400px) {
  .banner {
    width: 1180px;
    height: 502px;
  }

  .content {
    margin: 0;
  }

  .header {
    width: 614px;
    font-size: 74px;
  }

  .imageWrap {
    width: 400px;
    margin-top: 22px;
  }
}

@media (width <= 1200px) {
  .banner {
    width: 1000px;
    height: 425px;
  }

  .content {
    margin-left: 42px;
  }

  .header {
    width: 510px;
    font-size: 62px;
  }

  .text {
    width: 488px;
    margin: 10px 0 0;
    font-size: 26px;
    line-height: 40px;
  }

  .imageWrap {
    width: 350px;
  }
}

@media (width <= 1024px) {
  .banner {
    flex-direction: column;
    width: 740px;
    height: 680px;
  }

  .content {
    margin: 0 auto;
  }

  .header {
    width: 510px;
    font-size: 66px;
    line-height: 66px;
    text-align: center;
  }

  .text {
    width: 500px;
    margin: 20px auto 0;

    font-size: 22px;
    line-height: 30px;
    text-align: center;
  }

  .imageWrap {
    margin: 30px auto 0;
  }
}

@media (width <= 767px) {
  .banner {
    width: 416px;
  }

  .header {
    width: 257px;
    margin-top: 10px;
    font-size: 54px;
    line-height: 50px;
  }

  .text {
    width: 257px;
    font-size: 18px;
    line-height: 30px;
  }

  .imageWrap {
    width: 230px;
  }
}

@media (width <= 426px) {
  .banner {
    width: 350px;
    height: 610px;
  }

  .header {
    margin-top: 24px;
  }
}

@media (width <= 374px) {
  .banner {
    width: 300px;
  }

  .header {
    margin-top: 14px;
  }
}
