.case + .case {
    margin-top: 80px;
}

.header {
    margin: 0 0 27px 0;
    width: 658px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    white-space: break-spaces;
}

.content {
    display: flex;
    justify-content: space-between;
}

.description {
    width: 280px;
    margin: 0 0 34px 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #222222;
}

.link {
    font-size: 18px;
    line-height: 36px;
    font-weight: 700;
    color: #e64592;
    text-decoration: none;
}

.linkText {
    margin-right: 10px;
}

@media (max-width: 1320px) {
    .imageWrap {
        margin-right: 80px;
    }
}
