.case + .case {
    margin-top: 80px;
}

.header {
    margin: 0 0 27px 0;
    width: 658px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    white-space: break-spaces;
}

.content {
    display: flex;
    justify-content: space-between;
}

.description {
    width: 280px;
    margin: 0 22px 34px 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #222222;
}

.link {
    font-size: 18px;
    line-height: 36px;
    font-weight: 700;
    color: #e64592;
    text-decoration: none;
}

.linkText {
    margin-right: 10px;
}

@media (max-width: 1100px) {
    .imageWrap {
        margin-top: 10px;
    }

    .description {
        margin: 0 42px 26px 0;
    }
}

@media (max-width: 880px) {
    .description {
        margin: 0 12px 26px 0;
    }
}

@media (max-width: 720px) {
    .case + .case {
        margin-top: 40px;
    }

    .header {
        margin: 0 0 18px 0;
        width: 400px;
        font-size: 30px;
    }

    .content {
        flex-direction: column-reverse;
    }

    .imageWrap {
        margin: 0 0 10px 0;
    }

    .description {
        margin: 0 0 20px 0;
        width: 400px;
    }
}

@media (max-width: 425px) {
    .header {
        margin: 0 0 20px 0;
        width: 285px;
        font-size: 20px;
        line-height: 28px;
    }

    .imageWrap {
        margin: 0 0 20px 0;
    }

    .description {
        margin: 0 0 10px 0;
        width: 300px;
    }
}
