@media (width <= 1400px) {
  .logoWrap {
    width: 186px;
  }
}

@media (width <= 1200px) {
  .logoWrap {
    width: 150px;
  }
}

@media (width <= 1024px) {
  .logoWrap {
    width: 180px;
  }
}

@media (width <= 767px) {
  .logoWrap {
    width: 132px;
  }
}

@media (width <= 426px) {
  .logoWrap {
    width: 100px;
  }
}
