.peopleSays {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1600px;
    height: 666px;
    border-radius: 20px;
    background: linear-gradient(
        79.63deg,
        rgba(243, 200, 224, 0.7) 1.09%,
        rgba(242, 240, 242, 0.7) 51.57%,
        rgba(209, 231, 243, 0.7) 100%
    );
    user-select: none;
}

.header {
    margin: 0 0 40px 0;
    font-weight: 800;
    font-size: 60px;
    line-height: 56px;
    color: #191919;
}

.wrap {
    margin: 0 auto;
}

.reviews {
    display: flex;
    justify-content: center;
}

.link + .link {
    margin-left: 30px;
}

.link {
    text-decoration: none;
}

@media (max-width: 1600px) {
    .peopleSays {
        width: 1380px;
        height: 630px;
    }
}

@media (max-width: 1400px) {
    .peopleSays {
        width: 1180px;
        height: 575px;
    }
}

@media (max-width: 1200px) {
    .peopleSays {
        width: 1000px;
        height: 650px;
    }

    .reviews {
        flex-direction: column;
    }

    .header {
        margin: 0 auto 40px;
        text-align: center;
    }

    .link + .link {
        margin: 30px 0 0 0;
    }
}

@media (max-width: 1024px) {
    .peopleSays {
        width: 740px;
    }
}

@media (max-width: 767px) {
    .peopleSays {
        width: 416px;
        height: 650px;
        background: linear-gradient(
            66.34deg,
            #f3c8e0 19.49%,
            #f2f0f2 72.17%,
            #d1e7f3 122.7%
        );
    }

    .header {
        margin: 0 auto 26px;
        font-size: 36px;
    }

    .link + .link {
        margin: 11px 0 0 0;
    }
}

@media (max-width: 426px) {
    .peopleSays {
        width: 350px;
    }
}

@media (max-width: 374px) {
    .peopleSays {
        width: 300px;
    }
}
