.cardLink {
  color: #191919;
  text-decoration: none;
}

.cardLink + .cardLink {
  margin-left: 30px;
}

.card {
  width: 380px;
  height: 460px;
  border-radius: 20px;
  box-shadow: 0 0 70px rgb(216 216 216 / 30%);
}

.category {
  display: inline-flex;
  align-items: center;

  height: 32px;
  margin: 24px 0 0 28px;
  padding: 2px 28px 0;
  border-radius: 36px;

  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  color: #e64592;
  text-align: center;
  text-transform: uppercase;

  background-color: rgb(230 69 146 / 20%);
}

.title {
  width: 298px;
  margin: 24px 0 36px 28px;

  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 19px;
}

.date,
.readingTime {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: rgb(34 34 34 / 50%);
}

.iconWrap {
  margin: 4px 6px 0 0;
}

.readingTimeWrap {
  display: flex;
  align-items: center;
  margin-right: 28px;
}

.date {
  margin-left: 28px;
}

@media (width <= 1400px) {
  .cardLink + .cardLink {
    margin-left: 20px;
  }

  .card {
    width: 320px;
    height: 420px;
  }

  .category {
    margin: 24px 0 0 24px;
  }

  .title {
    width: 280px;
    margin: 24px 0 36px 24px;
  }
}

@media (width <= 1200px) {
  .cardLink + .cardLink {
    margin-left: 12px;
  }

  .card {
    width: 258px;
    height: 366px;
  }

  .category {
    margin: 18px 0 0 20px;
  }

  .title {
    width: 238px;
    height: 80px;
    margin: 20px 0 18px 20px;

    font-size: 20px;
    line-height: 26px;
  }
}

@media (width <= 1024px) {
  .cardLink + .cardLink {
    margin: 20px 0 0;
  }

  .card {
    width: 380px;
    height: 460px;
  }

  .category {
    margin: 24px 0 0 28px;
  }

  .title {
    width: 298px;
    margin: 24px 0 24px 28px;
    font-size: 22px;
    line-height: 32px;
  }
}

@media (width <= 767px) {
  .card {
    width: 320px;
    height: 420px;
  }

  .category {
    margin: 24px 0 0 24px;
  }

  .title {
    width: 280px;
    margin: 24px 0 18px 24px;
  }
}

@media (width <= 426px) {
  .card {
    width: 300px;
    height: 400px;
  }

  .category {
    margin: 26px 0 0 18px;
  }

  .title {
    width: 260px;
    height: 76px;
    margin: 14px 0 18px 18px;

    font-size: 20px;
    line-height: 26px;
  }
}
