.fact {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 380px;
  height: 170px;
  border-radius: 20px;

  background-color: #fff;
  box-shadow: 0 0 70px rgb(0 0 0 / 5%);
}

.fact + .fact {
  margin-top: 12px;
}

.number {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #e64592;
}

.description {
  width: 230px;
  height: 44px;
  margin: 6px 0 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #222;
  text-align: center;
  white-space: break-spaces;
}

@media (width <= 1200px) {
  .fact {
    width: 260px;
    height: 132px;
  }

  .number {
    font-size: 44px;
    line-height: 44px;
  }
}

@media (width <= 1024px) {
  .fact {
    width: 230px;
    height: 120px;
  }

  .number {
    font-size: 38px;
    line-height: 38px;
  }

  .description {
    width: 200px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media (width <= 767px) {
  .fact {
    width: 300px;
    height: 170px;
  }

  .number {
    font-size: 48px;
    line-height: 48px;
  }

  .description {
    width: 230px;
    font-size: 16px;
    line-height: 22px;
  }
}
