.services {
  width: 1200px;
  color: #222;
}

.headerWrap {
  display: flex;
  margin-bottom: 50px;
}

.header {
  margin: 0;
  font-size: 60px;
  line-height: 56px;
  font-weight: 800;
}

.caption {
  margin: 0 0 0 120px;
  width: 600px;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}

.serviceCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1400px) {
  .services {
    width: 1000px;
  }
}

@media (max-width: 1200px) {
  .services {
    width: 800px;
  }
}

@media (max-width: 1024px) {
  .services {
    width: 700px;
  }

  .caption {
    margin: 0 0 0 40px;
    width: 448px;
    font-size: 32px;
    line-height: 46px;
  }
}

@media (max-width: 767px) {
  .services {
    width: 400px;
  }

  .headerWrap {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .header {
    font-size: 36px;
    line-height: 56px;
  }

  .caption {
    margin: 0;
    width: 300px;
    font-size: 18px;
    line-height: 30px;
  }

  .serviceCards {
    justify-content: center;
  }
}

@media (max-width: 426px) {
  .services {
    width: 300px;
  }
}
