html,
body {
  margin: 0;
  padding: 0;
  font-family: Circe, sans-serif;
}

@font-face {
  font-family: Circe;
  font-weight: normal;
  font-style: normal;
  src:
    url("/fonts/circe.woff2") format("woff2"),
    url("/fonts/circe.woff") format("woff");
}

@font-face {
  font-family: Circe;
  font-weight: 300;
  font-style: normal;
  src:
    url("/fonts/circe-light.woff2") format("woff2"),
    url("/fonts/circe-light.woff") format("woff");
}

@font-face {
  font-family: Circe;
  font-weight: 700;
  font-style: normal;
  src:
    url("/fonts/circe-bold.woff2") format("woff2"),
    url("/fonts/circe-bold.woff") format("woff");
}

@font-face {
  font-family: Circe;
  font-weight: 800;
  font-style: normal;
  src:
    url("/fonts/circe-extrabold.woff2") format("woff2"),
    url("/fonts/circe-extrabold.woff") format("woff");
}

.mobileOnly {
  display: none;
}

.desktopOnly {
  display: block;
}

@media (width <= 1023px) {
  .mobileOnly {
    display: block;
  }

  .desktopOnly {
    display: none;
  }
}
