.banner,
.cases,
.aboutCompany,
.peopleSays,
.peopleTrust,
.questions,
.services,
.articles {
  margin: 0 auto 175px;
}

.proposal,
.header,
.footer {
  margin: 0 auto;
}

@media (width <= 1600px) {
  .banner,
  .cases,
  .aboutCompany,
  .peopleSays,
  .peopleTrust,
  .questions,
  .services,
  .articles {
    margin-bottom: 100px;
  }
}

@media (width <= 1200px) {
  .banner,
  .cases,
  .aboutCompany,
  .peopleSays,
  .peopleTrust,
  .questions,
  .services,
  .articles {
    margin-bottom: 80px;
  }
}

@media (width <= 1024px) {
  .banner,
  .cases,
  .aboutCompany,
  .peopleSays,
  .peopleTrust,
  .questions,
  .services,
  .articles {
    margin-bottom: 60px;
  }
}

@media (width <= 767px) {
  .aboutCompany {
    margin-bottom: 0;
  }

  .peopleSays {
    margin-top: -20px;
  }
}
