.menu {
    padding: 24px 10px;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    border-top: 1px solid rgba(208, 208, 208, 0.7);
    background-color: #fff;
}

.items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.item {
    margin-bottom: 24px;
}

.itemLink,
.phoneNumber,
.email {
    text-decoration: none;
    color: #222222;
}

.itemLink:hover,
.phoneNumber:hover,
.email:hover {
    color: #e64592;
}

.email {
    font-size: 16px;
    font-weight: normal;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.startProject {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    font-family: Circe;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    background-color: #e64592;
    border-radius: 36px;
    box-shadow: 0px 4px 4px rgba(227, 104, 163, 0.2);
    border: none;
}

.labelAnchor {
    position: relative;
}

.itemLabel {
    position: absolute;
    right: -26px;
    bottom: 12px;
}

.communication {
    margin-top: 50px;
}
