.menu {
  position: absolute;
  z-index: 1;
  transform: translateY(-100%);

  box-sizing: border-box;
  width: 100%;
  padding: 24px 14px;
  border-top: 1px solid rgb(208 208 208 / 70%);

  font-size: 18px;
  font-weight: 700;

  background-color: #fff;

  transition: transform 0.8s cubic-bezier(0.9, 0, 0.33, 1);
}

.menuOpen {
  transform: translateY(0);
}

.navigationOpen,
.communicationOpen {
  transform: translateY(0);
}

.items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item {
  margin-bottom: 24px;
}

.itemLink,
.phoneNumber,
.email {
  color: #222;
  text-decoration: none;
}

.email {
  font-size: 16px;
  font-weight: normal;
}

.itemLink:hover,
.phoneNumber:hover,
.email:hover {
  color: #e64592;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.startProject {
  user-select: none;

  width: 150px;
  height: 48px;
  margin-top: 20px;
  border: none;
  border-radius: 36px;

  font-family: Circe, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #fff;

  background-color: #e64592;
  box-shadow: 0 4px 4px rgb(227 104 163 / 20%);
}

.labelAnchor {
  position: relative;
}

.itemLabel {
  position: absolute;
  right: -26px;
  bottom: 12px;
}

.communication {
  margin-top: 56px;
}

@media (width <= 374px) {
  .communication {
    margin-top: 30px;
  }
}
